.sideBar{
    width: 150px;
    height: 100%;
    left: 0px;
    background-color: rgb(66, 146, 66);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.hiddenSideBar{
    width: 50px;
    height: 100%;
    left: 0px;
    background-color: rgb(66, 146, 66);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.buttonAndText{
    display: flex;
    flex-direction: row;
}

.buttonAndText:hover {
    background-color: rgb(57, 124, 57);
}

.button{
    margin-top: 20px;
}